<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <title>{{post.title}}</title>
</head>
<body>
    <div class="header">
        <h1>My Simple Blog</h2>
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>{{post.title}}</h2>
                <h5>{{post.created_at}}</h5>
                <p>{{post.content}}</p>
            </div>

            {% if post.comment_set.all %}
            {% for comment in post.comment_set.all %}
            <div class="card">
                <h4>{{comment.name}}</h4>
                <p>{{comment.comment}}</p>
            </div>
            {% endfor %}
            {% endif %}

            <div class="card">
                <h3>Leave a comment</h3>
                <form action="comment" method="POST">
                    {% csrf_token %}
                    <label>Name</label>
                    <input type="text" name="name">
                    <label>Comment</label>
                    <textarea name="comment" id="" cols="30" rows="10"></textarea>
                    <input type="text" name="post" value="{{post.id}}" class="invisible">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>